.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  &-logo {
    margin-right: 28px;
  }
  &-delivery {
    font-size: 16px;
    color: $gray;
  }
  &-phone-column {
    margin-left: auto;
    text-align: right;
  }

  &-phone {
    color: $black;
    text-decoration: none;
    font-family: "Montserrat-Medium";
    font-size: 20px;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: inherit;
      margin-right: 11px;
      background-image: url("../../img/telephone-icon.jpg");
    }
  }

  &-phone-text {
    margin: 0;
    color: $gray;
    font-family: "Montserrat-Regular";
    font-size: 12px;
  }
}

.promo {
  background-image: url(../../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 93px;
  margin-bottom: 86px;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-img-col {
    margin-left: 130px;
  }
  &-text-col {
    width: 570px;
    padding-top: 58px;
  }
  &-text {
    font-family: "Montserrat-Regular";
    font-size: 18px;
    color: $white;
  }
  &-text-uppercase {
    font-family: "Montserrat-Bold";
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }
  &-text-big {
    font-family: "Montserrat-SemiBold";
    font-size: 60px;
    display: block;
    margin-bottom: 54px;
  }
  &-text:nth-child(2) {
    margin-bottom: 210px;
  }
  & .button {
    max-width: 500px;
    position: relative;
    left: 70px;
  }
}

.statistics {
  &-list {
    display: flex;
    justify-content: space-around;
  }
  &-item {
    width: 270px;
    margin-left: 70px;
    position: relative;
    padding-top: 43px;
  }

  &-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: -36px;
    box-sizing: border-box;
    border: 5px solid lighten($green, 20%);
    border-radius: 50%;
  }

  .item-indicator-number {
    font-size: 30px;
  }
  .item-indicator {
    display: inline-block;
    color: lighten($green, 10%);
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
    border-bottom: 3px solid lighten($green, 10%);
    padding-bottom: 3px;
    margin-bottom: 22px;
  }
  .item-description {
    margin: 0;
    color: darken($black, 100%);
    font-family: "Montserrat-Regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
}

.symptoms {
  & .container {
    display: flex;
    justify-content: space-between;
  }
  &-list-col {
  }
  &-img-col {
    max-width: 500px;
  }
  &-title {
  }
  &-list {
  }
  &-item {
  }

  &.button {
  }
}

.success-secret {
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-secret-button-col {
  }
  &-secret-text {
  }

  &-secret-title {
  }
  &-secret-list-title {
  }
  &-secret-list {
  }
  &-secret-list-col {
  }

  & .button {
  }
}

.set {
  & .container {
  }

  &-title {
  }
  &-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  &-item {
    max-width: 200px;
  }
  &-item-img {
  }
}

.ingredients {
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-cards-col {
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &-item {
  }
  &-list-col {
  }
  &-title {
  }
  &-description {
  }

  & .button {
  }
}

.warranty {
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-text-col {
  }

  &-img-col {
  }

  &-title {
  }

  & .button {
  }
}

.main-footer {
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
  }
  &-links {
    list-style: none;
    padding: 0;
    max-width: 630px;
    display: flex;
    justify-content: space-between;
  }
  &-links-item {
  }
  &-link {
  }
  &-phone-col {
  }
  &-phone {
  }
  &-phone-text {
  }
}
