.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  &-logo {
    margin-right: 28px;
  }
  &-delivery {
    font-size: 16px;
    color: $gray;
  }
  &-phone-column {
    margin-left: auto;
    text-align: right;
  }

  &-phone {
    color: $black;
    text-decoration: none;
    font-family: "Montserrat-Medium";
    font-size: 20px;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: inherit;
      margin-right: 11px;
      background-image: url("../../img/telephone-icon.jpg");
    }
  }

  &-phone-text {
    margin: 0;
    color: $gray;
    font-family: "Montserrat-Regular";
    font-size: 12px;
  }
}

.promo {
  background-image: url(../../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 93px;
  margin-bottom: 86px;

  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-img-col {
    margin-left: 130px;
  }
  &-text-col {
    width: 570px;
    padding-top: 58px;
  }
  &-text {
    font-family: "Montserrat-Regular";
    font-size: 18px;
    color: $white;
  }
  &-text-uppercase {
    font-family: "Montserrat-Bold";
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }
  &-text-big {
    font-family: "Montserrat-SemiBold";
    font-size: 60px;
    display: block;
    margin-bottom: 54px;
  }
  &-text:nth-child(2) {
    margin-bottom: 210px;
  }
  & .button {
    max-width: 500px;
    position: relative;
    left: 70px;
  }
}

.statistics {
  margin-bottom: 200px;
  &-list {
    display: flex;
    justify-content: space-around;
  }
  &-item {
    width: 270px;
    margin-left: 70px;
    position: relative;
    padding-top: 43px;
  }

  &-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: -36px;
    box-sizing: border-box;
    border: 5px solid lighten($green, 20%);
    border-radius: 50%;
  }

  .item-indicator-number {
    font-size: 30px;
  }
  .item-indicator {
    display: inline-block;
    color: lighten($green, 10%);
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
    border-bottom: 3px solid lighten($green, 10%);
    padding-bottom: 3px;
    margin-bottom: 22px;
  }
  .item-description {
    margin: 0;
    color: darken($black, 100%);
    font-family: "Montserrat-Regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
}

.symptoms {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: 85px;
    right: 0;
    left: 0;
    top: 170px;
    background-color: lighten($green, 42%);
    z-index: -1;
  }
  & .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 205px;
  }

  &-title {
    font-family: "Montserrat-bold";
    font-size: 40px;
    line-height: 50px;
    color: $black;
    margin-bottom: 45px;
  }
  &-list {
    list-style: none;
  }
  &-item {
    font: {
      family: "Montserrat-SemiBold";
      size: 14px;
    }
    line-height: 21px;
    position: relative;
    padding: 23px 0;
    border-bottom: 2px solid lighten($green, 30%);
    text-transform: uppercase;
  }
  &-item::after {
    content: "˃";
    color: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }

  &-item:hover::after {
    color: lighten($green, 10%);
  }

  @for $i from 1 through 7 {
    &-item:nth-child(#{$i})::before {
      content: "0#{$i}.";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -37px;
      color: $green;
    }
  }

  &.button {
  }

  &-img-col {
    max-width: 500px;
  }
  &-img img {
    width: 100%;
  }
  &-img {
    width: 500px;
    margin-bottom: 46px;
  }
}

.success-secret {
  background-image: url(../../img/secret-of-success.jpg);
  background-repeat: no-repeat;
  background-position: 9.7% 0;
  margin-bottom: 194px;
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-button-col {
    width: 100%;
    max-width: 602px;
    display: flex;
    align-items: flex-end;
  }

  &-text-field-surface {
    background-color: #fff;
    padding: 20px;
    width: 602px;
  }

  &-text-field {
    background-color: #fff;
    border: 1px solid lighten($green, 20%);
    position: relative;
    z-index: 1;
  }

  &-text {
    padding: 38px;
    padding-bottom: 35px;
    font: {
      family: "Montserrat-Regular";
      size: 16px;
    }
    line-height: 24px;
    margin: 0;
  }

  &-list-col {
    width: 100%;
    max-width: 500px;
    padding-top: 36px;
  }

  &-title {
    font: {
      family: "Montserrat-Bold";
      size: 40px;
    }
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 39px;
  }
  &-list-title {
    font: {
      family: "Montserrat-Bold";
      size: 14px;
    }
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 39px;
  }
  &-list {
    list-style: none;
    margin-bottom: 94px;
  }
  &-list-item {
    position: relative;
    line-height: 22px;
    letter-spacing: 0.1px;
    margin-bottom: 50px;
    font: {
      family: "Montserrat-Regular";
      size: 16px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      width: 9px;
      height: 14px;
      color: $green;
      background-image: url("../../img/arrow.png");
    }
  }

  & .button {
  }
}

.set {
  & .container {
  }

  &-title {
  }
  &-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  &-item {
    max-width: 200px;
  }
  &-item-img {
  }
}

.ingredients {
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-cards-col {
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &-item {
  }
  &-list-col {
  }
  &-title {
  }
  &-description {
  }

  & .button {
  }
}

.warranty {
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-text-col {
  }

  &-img-col {
  }

  &-title {
  }

  & .button {
  }
}

.main-footer {
  & .container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
  }
  &-links {
    list-style: none;
    padding: 0;
    max-width: 630px;
    display: flex;
    justify-content: space-between;
  }
  &-links-item {
  }
  &-link {
  }
  &-phone-col {
  }
  &-phone {
  }
  &-phone-text {
  }
}
