.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  &-logo {
    margin-right: 28px;
  }
  &-delivery {
    font-size: 16px;
    color: $gray;
  }
  &-phone-column {
    margin-left: auto;
    text-align: right;
  }

  &-phone {
    color: $black;
    text-decoration: none;
    font-family: "Montserrat-Medium";
    font-size: 20px;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: inherit;
      margin-right: 11px;
      background-image: url("../../img/telephone-icon.jpg");
    }
  }

  &-phone-text {
    margin: 0;
    color: $gray;
    font-family: "Montserrat-Regular";
  }
}
