footer.main-footer
  .main-footer__logo-col
    if mainPage
      a.main-footer__logo-link(href="")
        img.main-footer__logo-img(src="./img/logo-footer.svg" alt="Логотип")
    else 
      a.main-footer__logo-link(href="./")
        img.main-footer__logo-img(src="../img/logo-footer.svg" alt="Логотип")
    a.main-footer__link(href="tel:+74994504797") 8 (499) 450-47-97
    a.main-footer__link(href="mail:info@conquest.watch.ru") info@conquest.watch.ru

  dl.footer__sections-list
    dt.main-footer__section-heading О компании
      dd.main-footer__section 
        a.main-footer__section-link(href="#") Наши магазины
      dd.main-footer__section
        a.main-footer__section-link(href="#") Вакансии
      dd.main-footer__section
        a.main-footer__section-link(href="#") Сертификаты
      dd.main-footer__section
        a.main-footer__section-link(href="#") Отзывы

  dl.footer__sections-list
    dt.main-footer__section-heading Покупатели
      dd.main-footer__section 
        a.main-footer__section-link(href="#") Каталог товаров
      dd.main-footer__section
        a.main-footer__section-link(href="#") Как заказать?
      dd.main-footer__section
        a.main-footer__section-link(href="#") FAQ
      dd.main-footer__section
        a.main-footer__section-link(href="#") Корпоративные клиенты

  dl.footer__sections-list
    dt.main-footer__section-heading Оплата и доставка
      dd.main-footer__section 
        a.main-footer__section-link(href="#") Способы оплаты
      dd.main-footer__section
        a.main-footer__section-link(href="#") Время доставки
      dd.main-footer__section
        a.main-footer__section-link(href="#") Гарантия и ремонт
      dd.main-footer__section
        a.main-footer__section-link(href="#") Возврат и компенсация