.main-header {
  &-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 67px;
  }
  &-logo {
    margin: 0 auto;
  }

  .site-navigation {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .site-navigation-item {
    margin-right: 30px;
  }
  .link-item {
    font-family: "Work Sans";
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: $black;
    text-decoration: none;
  }

  .user-navigation {
    display: flex;
    align-items: center;
  }
  .user-navigation-item {
  }
}
