@font-face {
  font-family: "Work Sans";
  src: url("../../fonts/WorkSans-VariableFontwght.woff2")
      format("woff2 supports variations"),
    url("../../fonts/WorkSans-VariableFontwght.woff2")
      format("woff2-variations");
  font-weight: 400 800;
  font-stretch: normal;
  font-style: normal;
}
