section.features
  h2.visually-hidden Наши Преимущества
  .container.features__slider
    ul.features__list
      li.features__item
        .features__img-wrap
          img.features__img(src="./img/quality.jpg" alt="Декоративное изображение олицетворяющее преимущество")
        .features__desc-wrap
          h3.features__desc-heading Подлинное качество
          p.features__desc.
            Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.
          a.button.button_light(href="#")
      li.features__item
        .features__img-wrap
          img.features__img(src="./img/quality.jpg" alt="Декоративное изображение олицетворяющее преимущество")
        .features__desc-wrap
          h3.features__desc-heading Несомненные достоинства
          p.features__desc.
            Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.
          a.button.button_light(href="#")
      li.features__item
        .features__img-wrap
          img.features__img(src="./img/quality.jpg" alt="Декоративное изображение олицетворяющее преимущество")
        .features__desc-wrap
          h3.features__desc-heading Безупречные показатели
          p.features__desc.
            Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.
          a.button.button_light(href="#")
    .slider__controls
      .slider__prev <
      .slider__marker 01
      .slider__next >