section.section.follow-us 
  .container
    .follow-us__text-col
      h2.section__heading Следите за нашими новостями
      p.section__desc Подписывайтесь на #[b @conquest_watch] в соцсетях и узнавайте о новинках и акциях первыми.
      ul.socials-list
        li.socials-list__item
          a.socials-list__link(href="#")
            img.socials-list__img(src="" alt="")
        li.socials-list__item
          a.socials-list__link(href="#")
            img.socials-list__img(src="" alt="")
        li.socials-list__item
          a.socials-list__link(href="#")
            img.socials-list__img(src="" alt="")
    .follow-us__img-wrap
      img.follow-us__img(src="./img/socials.jpg" alt="Фотографии из соцсетей")
