section.promo-banner
  .container  
    .promo-banner__txt-col
      h2.promo-banner__heading Весна/Лето 2019 #[br]Коллекция
      p.promo-banner__desc Швейцарские часы в наличии в Москве #[br] и с доставкой по всему миру
      a.button(href="#") Смотреть каталог
    .promo-banner__img-wrap
      img.promo-banner__img(href="./img/promo-banner.jpg")
      p.promo-banner__price 22 000 ₽
      p.promo-banner__watch-strap 28 мм диаметр