section.popular-models
  header.section-header.popular-models__header
    h2.section-heading Популярные модели
    a.show-all Смотреть все
  ul.product__list
    li.product__item
      h3.product__name  RADO
      p.product__price  65 300 ₽
      img.product__img(src="./img/rado.jpg" alt="Изображение часов")
      a.produt__link(href="") Подробнее
    li.product__item
      h3.product__name  BVLGARI
      p.product__price  81 700 ₽
      img.product__img(src="./img/bvlgari.jpg" alt="Изображение часов")
      a.produt__link(href="") Подробнее
    li.product__item
      h3.product__name  BVLGARI
      p.product__price  72 000 ₽
      img.product__img(src="./img/bvlgari_2.jpg" alt="Изображение часов")
      a.produt__link(href="") Подробнее