.bestsellers {
}
.container {
}
.section-header {
  display: flex;
  justify-content: space-between;
}
.section-title {
}
.show-more {
}
.catalog-list {
  display: flex;
  margin-right: -30px;
}
.catalog-item {
  margin-right: 30px;
}
.catalog-item-link {
}
.catalog-item-title {
}
.catalog-item-price {
}
