.main-footer {
  background-color: $black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-footer-logo {
  width: 75px;
  margin-bottom: 24px;
}

.main-footer-logo-img {
  width: 100%;
}
.footer-navigation {
  display: flex;
  margin-bottom: 34px;
}
.footer-navigation-item:not(:last-child) {
  margin-right: 42px;
}
.footer-navigation-link {
  @include font(16px, 21px, 500);
  color: #fff;
  text-decoration: none;
}
.social {
  display: flex;
}
.social-item:not(:last-child) {
  margin-right: 30px;
}
