.main-header {
  &-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 67px;
  }

  &-logo {
    margin-right: 477px;
  }

  &-logo img {
    width: 73px;
    height: auto;
  }

  .site-navigation {
    display: flex;
    list-style: none;
    margin-right: 350px;
  }
  .site-navigation-item:not(:last-child) {
    margin-right: 36px;
  }
  .link-item {
    @include font(16px, 18px, 600);
    color: $black;
    text-decoration: none;

    &:hover {
      color: $dark_gray;
    }
  }

  .user-navigation {
    display: flex;
    align-items: center;
    margin-right: -30px;
  }
  .user-navigation-item {
    margin-right: 30px;
  }
}
